body{
	height: 100vh;
background: url("eagle.png") no-repeat center/cover;
margin: 0;}
#wrapper{
		max-width: 1000px;
		height: 100%;
		margin: 0 auto;
		padding: 0px 50px;
	}
header{height: 4%;
		width: 100%;
		margin-top: 3%;
	}
#logo{float: left;}
#navbar{display: flex;
	position: relative;
	bottom: 50%;
		justify-content: space-between;
		align-items: center;
		float: right;
		}
#navbar li {list-style-type: none;
}
#item, #icon{display: flex;
			align-items: center;
			}
#item li {display: inline-block;
				  width: 100px;
		}
#item a{text-decoration: none;
		font-size: 14pt;
		   color: white;
		   font-family: 'Montserrat', sans-serif;
		}
#item a:hover{border-bottom: 1px solid #fce38a;
				color: #fce38a;
				transition-duration: 0.8s;
}
#item a:hover + #about{text-decoration: none;
		font-size: 14pt;
		   color: white;
		   font-family: 'Montserrat', sans-serif;
		   border-bottom: none;
		}
#icon li{display: inline-block;}
.main{
	background-color: rgba(255, 0, 0,.7);

}
#creative {;
	font-size: 72pt;
		   color: white;
		   font-family: 'Kaushan Script', cursive;
		}
#creative span{display: flex;
	justify-content: center;
	align-content: center}
#welcome span{font-size: 150pt;
		   color: white;
		   font-family: 'Montserrat', sans-serif;
		   font-weight: bold;
		   width: 100%;
			text-align: justify;}

